<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="slanchero">
    <meta name="description" content="Comparador de precios de tecnología en línea para productos de Colombia y el exterior. Encuentra las mejores ofertas en Mercado Libre, Alkosto, Olímpica, Éxito y Falabella.">
    <meta name="keywords" content="comparador de precios, tecnología, Colombia, Mercado Libre, Alkosto, Olímpica, Éxito, Falabella, ofertas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/ico" href="icons/icon.png">
    <title>PriceHive</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="filters">
                <div class="dropdown">
                    <label for="sort-by" class="select">Ordenar por:
                        <select id="sort-by">
                            <option value="" disabled selected>Select option</option>
                            <option value="price-asc">Precio: menor a mayor</option>
                            <option value="price-desc">Precio:mayor a menor </option>
                            <option value="name-asc">Nombre: A-Z</option>
                            <option value="name-desc">Nombre: Z-A</option>
                            <option value="rating-asc">Rating: menor a mayor</option>
                            <option value="rating-desc">Rating: mayor a menor</option>
                        </select>
                    </label>
                </div>
                <div class="dropdown">
                    <label for="filter" class="select">Filtros:
                        <select id="filter">
                            <option value="" selected>Ninguno</option>
                            <option value="Mercado libre">Mercado Libre</option>
                            <option value="Exito">Exito</option>
                            <option value="Olimpica">Olimpica</option>
                            <option value="Falabella">Falabella</option>
                            <option value="Alkosto">Alkosto</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="search">
                <input type="text" class="search__input" id="search_input" placeholder="Type your text">
                <button class="search__button" onclick="search()">
                    <img src="/icons/busqueda.svg" alt="Search icon" class="search__icon">
                </button>
            </div>
            <div class="brands">
                <h2>Visita Las Tiendas</h2>
                <a class="button__brand button" target="_blank" href="https://www.mercadolibre.com.co/"><img
                        src="/img/logo-mercado.png" alt="mercado libre" class="img__brand">Mercado Libre</a>
                <a class="button__brand button" target="_blank" href="https://www.olimpica.com/"><img
                        src="/img/logo-olimpica.png" alt="olimpica" class="img__brand">Olimpica</a>
                <a class="button__brand button" target="_blank" href="https://www.exito.com/"><img
                        src="/img/logo-exito.png" alt="exito" class="img__brand">Exito</a>
                <a class="button__brand button" target="_blank" href="https://www.falabella.com.co/"><img
                        src="/img/logo-falabella.png" alt="falabella" class="img__brand">Falabella</a>
                <a class="button__brand button" target="_blank" href="https://www.alkosto.com/"><img
                        src="/img/logo-alkosto.png" alt="alkoso" class="img__brand">Alkosto</a>
            </div>
        </aside>
        <div class="site">
            <header>
                <h1>PriceHive</h1>
                <hr>
            </header>
            <main id="product-list" class="main-content">
                <div class="waiting-screen" id="wait">
                    <img src="img/wait-preview.png" alt="Imagen de espera">
                </div>
            </main>
            <footer id="pagination">
            </footer>
        </div>
    </div>
    <script src="js/page.js"></script>
</body>

</html>