<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="icon" type="image/ico" href="img/icono.ico">
    <title>Smart Priice Hub</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="filters">
                <div class="dropdown">
                    <label for="sort-by" class="select">Ordenar por:
                        <select id="sort-by">
                            <option value="" disabled selected>Select option</option>
                            <option value="price-asc">Price: Low to High</option>
                            <option value="price-desc">Price: High to Low</option>
                            <option value="name-asc">Name: A to Z</option>
                            <option value="name-desc">Name: Z to A</option>
                        </select>
                    </label>
                </div>
                <div class="dropdown">
                    <label for="filter" class="select">Filtros:
                        <select id="filter">
                            <option value="" disabled selected>Select option</option>
                            <option value="price-asc">Price: Low to High</option>
                            <option value="price-desc">Price: High to Low</option>
                            <option value="name-asc">Name: A to Z</option>
                            <option value="name-desc">Name: Z to A</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="search">
                <input type="text" class="search__input" placeholder="Type your text">
                <button class="search__button">
                    <img src="../public/icons/busqueda.svg" alt="Search icon" class="search__icon">
                </button>
            </div>
            <div class="brands">
                <h2>Visita Las Tiendas</h2>
                <a class="button__brand" target="_blank" href="https://www.mercadolibre.com.co/"><img
                        src="../public/img/logo-mercado.png" alt="mercado libre" class="img__brand">Mercado Libre</a>
                <a class="button__brand" target="_blank" href="https://www.olimpica.com/"><img
                        src="../public/img/logo-olimpica.png" alt="olimpica" class="img__brand">Olimpica</a>
                <a class="button__brand" target="_blank" href="https://www.exito.com/"><img
                        src="../public/img/logo-exito.png" alt="exito" class="img__brand">Exito</a>
                <a class="button__brand" target="_blank" href="https://www.falabella.com.co/"><img
                        src="../public/img/logo-falabella.png" alt="falabella" class="img__brand">Falabella</a>
                <a class="button__brand" target="_blank" href="https://www.alkosto.com/"><img
                        src="../public/img/logo-alkosto.png" alt="alkoso" class="img__brand">Alkosto</a>
            </div>
        </aside>
        <div class="site">
            <header>
                <h1>Smart Priice</h1>
                <hr>
            </header>
            <main class="main-content">
                <div class="product-card">
                    <div class="product-img">
                        <img src="../public/img/icono.ico" alt="MacBook Air">
                    </div>
                    <div class="product-info">
                        <div class="info">
                            <h3>MacBook Air</h3>
                            <p class="second">Mercado Libre</p>
                            <p class="second">$999</p>
                            <p class="second">5.0</p>
                        </div>
                        <a class="button" href="#">Ir</a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-img">
                        <img src="../public/img/icono.ico" alt="MacBook Air">
                    </div>
                    <div class="product-info">
                        <div class="info">
                            <h3>MacBook Air</h3>
                            <p class="second">Mercado Libre</p>
                            <p class="second">$999</p>
                            <p class="second">5.0</p>
                        </div>
                        <a class="button" href="#">Ir</a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-img">
                        <img src="../public/img/icono.ico" alt="MacBook Air">
                    </div>
                    <div class="product-info">
                        <div class="info">
                            <h3>MacBook Air</h3>
                            <p class="second">Mercado Libre</p>
                            <p class="second">$999</p>
                            <p class="second">5.0</p>
                        </div>
                        <a class="button" href="#">Ir</a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-img">
                        <img src="../public/img/icono.ico" alt="MacBook Air">
                    </div>
                    <div class="product-info">
                        <div class="info">
                            <h3>MacBook Air</h3>
                            <p class="second">Mercado Libre</p>
                            <p class="second">$999</p>
                            <p class="second">5.0</p>
                        </div>
                        <a class="button" href="#">Ir</a>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-img">
                        <img src="../public/img/icono.ico" alt="MacBook Air">
                    </div>
                    <div class="product-info">
                        <div class="info">
                            <h3>MacBook Air</h3>
                            <p class="second">Mercado Libre</p>
                            <p class="second">$999</p>
                            <p class="second">5.0</p>
                        </div>
                        <a class="button" href="#">Ir</a>
                    </div>
                </div>
            </main>
            <footer>
            </footer>
        </div>
    </div>
</body>

</html>