* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background: #faf8fc;
}

.container {
    display: flex;
}

.container aside {
    height: 100vh;
    width: 25%;
}

.container aside .filters {
    padding: 0 20px;
    margin-top: 30px;
}

.container aside .filters .dropdown {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    border: #efe7f3 1px solid;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #efe7f3;
    justify-content: center;
    width: 100%;
}

.container aside .filters .dropdown .select {
    min-width: 200px;
}

.container aside .filters .dropdown .select select {
    border: none;
    border-radius: 5px;
    background: #efe7f3;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    width: 120px;
}

.container aside .search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    background: #efe7f3;
    border-radius: 10px;
}

.container aside .search .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #efe7f3;
    border: none;
    width: 90%;
    border-radius: 10px;
    color: #7f4e97;
    padding: 0.7rem 0.5rem;
    margin-right: -2rem;
}

.search__input:focus {
    outline: none;
}

.container aside .search .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #7f4e97;
}

.container aside .search .search__button {
    background: #efe7f3;
    border: none;
    margin-right: 5px;
}

.container aside .search .search__button:hover {
    cursor: pointer;
}

.container aside .search .search__icon {
    height: 2em;
    width: 2em;
    fill: #b4b4b4;
}

.container .brands {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container .brands h2 {
    margin-bottom: 20px;
}

.container .brands .button__brand {
    padding: 10px;
    background: #efe7f3;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.container .brands .button__brand .img__brand {
    width: 15%;
    height: 15%;
    border-radius: 30px;
    margin-right: 10px;
}

.container .site {
    margin: 20px 30px;
    width: 75%;
}

.container .site .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 0px 30px;
}

.container .site .main-content .product-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.container .site .main-content .product-card:hover {
    border-radius: 20px;
    box-shadow: #e4c6f3 0px 0px 10px;
}

.container .site .main-content .product-card .product-img {
    height: 120px;
    width: 120px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .site .main-content .product-card .product-img img {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

.container .site .main-content .product-card .product-info {
    flex-grow: 3;
    height: auto;
}

.container .site .main-content .product-card .product-info .info {
    margin: 10px;
}

.container .site .main-content .product-card .product-info .info h3 {
    width: 90%;
}

.container .site footer {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.container .site footer .btn_page {
    margin: 0 20px;
    width: 35px;
    height: 30px;
    font-family: inherit;
    background: #efe7f3;
    border: #eedcf7 1px solid;
    border-radius: 5px;
}

.second {
    color: #7f4e97;
    font-weight: 200;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.waiting-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.waiting-screen img {
    max-width: 100%;
    height: auto;
}

/* loader */

.loader {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
}

.loader::before {
    content: "";
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    animation: doitreverse 4s infinite;
}

.loader::after {
    content: "";
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    animation: doit 4s infinite;
}

@keyframes doit {
    0% {
        transform: scale(1);
    }

    50% {
        border-radius: 20% 50%;
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes doitreverse {
    0% {
        transform: rotate(360deg);
    }

    50% {
        border-radius: 50% 20%;
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.eye {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #550080;
    position: absolute;
    left: 25%;
    top: 25%;
    animation: showme 4s infinite;
}

.eye::before {
    content: "";
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    animation: showme 4s infinite;
}

.eye::after {
    content: "";
    height: 10%;
    width: 10%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    animation: showme 4s infinite;
}

@keyframes showme {
    0% {
        transform: scale(0.3);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.3);
    }
}

/* button */

.cta {
    margin: 20px;
    text-decoration: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}